{% extends 'base.html' %}
{% block title %}details{% endblock %}
{% block content %}
<img src="{{detail.photo}}" alt="">
<h2>ID</h2>
<p>{{detail.id}}</p>
<h2>First Name</h2>
<p>{{detail.first_name}}</p>
<h2>Middle Name</h2>
<p>{{detail.middle_name}}</p>
<h2>Last Name</h2>
<p>{{detail.last_name}}</p>
<h2>Gender</h2>
<p>{{detail.gender}}</p>
<h2>Marital Status</h2>
<p>{{detail.marital_status}}</p>
<h2>Nationality</h2>
<p>{{detail.nationality}}</p>
<h2>Home Address</h2>
<p>{{detail.home_address}}</p>
<h2>Home Phone Number</h2>
<p>{{detail.home_phone_number}}</p>
<h2>Office Phone Number</h2>
<p>{{detail.office_phone_number}}</p>
<h2>Age</h2>
<p>{{detail.age}}</p>
<h2>Nin</h2>
<p>{{detail.nin}}</p>
<h2>Office Address</h2>
<p>{{detail.office_address}}</p>
<h2>Date of Birth</h2>
<p>{{detail.date_of_birth}}</p>
{% endblock %}
    
